doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    //- Dynamic meta data
    meta(name='keywords', content='#{keywords}')
    meta(name='description', content='#{description}')
    meta(name='author', content='#{author}')
    
    //- favicon
    link(rel='icon', type='image/ico', href='../images/favicon.ico')
    link(rel='apple-touch-icon', href='../images/apple-touch-icon.jpg')
    link(rel='stylesheet', href='/stylesheets/style.css')
      
    title= title
    
  body(class='#{bodyClass}')
    
    //- Header  
    block header
      include ../partials/header

    //- Site Content
    main(role='main')
      block content
      

    //- Footer      
    block footer
      include ../partials/footer
      
      
    script(src='http://code.jquery.com/jquery-1.11.0.min.js') 
    script.
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\\/script>')
    
    script(src='/js/main.js') 
    
    block scripts
